*{
    padding: 0px;
    margin: 0px;
}

*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: gray;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(187, 187, 187);
    border-radius: 20px;
    border: 3px solid gray;
  }

html{
    background-color: #ddd;
}

.Navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 60px;
    background-color: rgba(255, 255, 255, 0.9); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
}


.Navbar__Items {
    display: flex;
    gap: 25px;
    align-items: center;
}

.Navbar__link {
    color: #333;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 2px;
    margin-left: 50px; 
    transition: color 0.3s ease;
}

.Navbar__link:hover {
    color: #0078FF; 
}
.slide-box {
    min-width: 1%; 
    position: relative; 
    overflow: hidden; 
}

.slide-box img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block; 
}

#mapa-titulo{
    margin-top: 20px;
    text-align: center;
}

#mapa{
    margin: 20px 0px 0px 500px;
    padding: 30px;
}

#manual-btn{
    opacity: 0.5;
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px; 
}

.infos {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.infos-card {
    background-color: #f9f9f9; 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    flex: 1 1 30%; 
    margin: 10px; 
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.infos-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

.infos-card h2 {
    color: #0078FF; 
    font-family: 'Arial', sans-serif; 
    margin-bottom: 10px; 
}

.infos-card p {
    color: #555;
    font-size: 0.95rem;
    margin-bottom: 10px; 
}

.link-clique {
    display: inline-block; 
    margin-top: 10px; 
    padding: 10px 15px; 
    background-color: #0078FF; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

.link-clique:hover {
    background-color: #0056b3; 
}
#historia, #eventos, #hr-culto{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.mapa-titulo{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 30px; 
    margin-bottom: 20px;
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff; 
    text-align: center;
    padding: 20px 0; 
    position: relative; 
    bottom: 0;
    width: 100%; 
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto; 
}

.footer-content p {
    margin: 5px 0; 
}

.footer-content a {
    color: #fff; 
    text-decoration: none; 
    transition: color 0.3s; 
}

.footer-content a:hover {
    color: #0078FF; 
}
